{% extends 'logged_base.html' %}

{% load static %}

{% block content %}
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

        <!-- Topbar -->
        {% include 'partials/_topbar.html' %}
        <!-- End of Topbar -->

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Projects</h1>
            </div>

            <div class="row">

               <div class="col-lg-10">
               {% if projects %}
                    {% for project_group in projects_groups %}
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <div class="d-block card-header py-3"
                                  data-toggle="collapse"  role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <a class="m-0 font-weight-bold text-primary"
                                       href="#project{{project_group.project.id}}"
                                       data-toggle="modal" data-target="#createProjectModalCenter"
                                       data-projectid ="{{ project_group.project.id }}"
                                       data-projecttitle = "{{project_group.project.title}}"
                                       data-projectcolor ="{{project_group.project.color}}"
                                       data-projectdescription ="{{project_group.project.description}}"
                                       role="button"
                                    >{{project_group.project.title}}</a>
                                    {% if project_group.project.title != 'Default' %}
                                    <span class="ml-3 dropdown no-arrow">
                                        <a href="javascript:{document.getElementById('deleteproject{{project_group.project.id}}').submit()}" class="btn btn-primary btn-circle btn-sm">
                                            <i class="far fa-trash-alt"></i>
                                        </a>

                                        <form id="deleteproject{{project_group.project.id}}" action="{% url 'delete-project' %}" method="POST">
                                            {% csrf_token %}
                                            <input name="project-id" value="{{project_group.project.id}}" type="hidden">
                                        </form>
                                    </span>
                                    {% endif %}
                            </div>

                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample">
                                <div class="card-body">
                                {% if project_group.tasks %}
                                <div class="col-lg-12">
                                    <h4 class="small font-weight-bold">State</h4>
                                    <div class="progress mb-4">
                                        {% if project_group.status.open_tasks_hours > 0.00 %}

                                            <div class="progress-bar bg-danger" role="progressbar" style="width:{{project_group.status.open_tasks_hours}}%" aria-valuenow="{{project_group.status.open_tasks_hours}}" aria-valuemin="0" aria-valuemax="100">{{project_group.status.open_tasks_hours}}%</div>
                                        {% endif %}
                                        {% if project_group.status.ready_tasks_hours > 0.00 %}
                                            <div class="progress-bar bg-warning" role="progressbar" style="width:{{project_group.status.ready_tasks_hours}}%">{{project_group.status.ready_tasks_hours}}%</div>
                                        {% endif %}
                                        {% if project_group.status.in_progress_tasks_hours > 0.00 %}
                                            <div class="progress-bar bg-primary" role="progressbar" style="width:{{project_group.status.in_progress_tasks_hours}}%">{{project_group.status.in_progress_tasks_hours}}%</div>
                                        {% endif %}
                                        {% if project_group.status.test_tasks_hours > 0.00 %}
                                            <div class="progress-bar bg-info" role="progressbar" style="width:{{project_group.status.test_tasks_hours}}%">{{project_group.status.test_tasks_hours}}%</div>
                                        {% endif %}
                                        {% if project_group.status.done_tasks_hours > 0.00 %}
                                            <div class="progress-bar bg-success" role="progressbar" style="width:{{project_group.status.done_tasks_hours}}%">{{project_group.status.done_tasks_hours}}%</div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-lg-10">
                                    {% if project_group.tasks %}
                                        {% for task in project_group.tasks %}
                                        <div class="card bg-info text-white shadow ">
                                            <div class="card-body less-padding">
                                                <span class="text-m"><a class="text-white" href=""><b>{{task.id}}</b> - {{task.title}}</a></span>
                                                <span class="float-right {% if task.status == 'OPEN' %}bg-danger{% endif %}
                                                                         {% if task.status == 'READY' %}bg-warning{% endif %}
                                                                         {% if task.status == 'IN_PROGRESS' %}bg-primary{% endif %}
                                                                         {% if task.status == 'TEST' %}bg-info{% endif %}
                                                                         {% if task.status == 'DONE' %}bg-success{% endif %}" >{{task.status}}</span>
                                                <span class="circle float-right">{{task.estimated_hours | floatformat }}h</span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        No tasks created in this project
                                    {% endif %}

                                </div>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
               {% else %}
                    <div class="card-body">
                        <div class="col-lg-12"> No projects created yet </div>
                    </div>
               {% endif %}
                    </div>
                {% if projects %}

                <div class="col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    {% for project in projects %}
                                        <a class="nav-link" href="#project{{project.id}}">{{project.title}}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% for recomendation in recommendations %}
                    <div class="card mt-3">
                        <div class="card-body">
                            <a href="{{recomendation.redirect_url}}">
                                <img class="card-img-top" src="{{recomendation.image_url}}" alt="Card image cap">
                                <h5 class="mt-2">{{recomendation.title}}</h5>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>



        </div>

        </div>
    </div>

</div>
{% include 'partials/_create_task_modal.html' %}
{% include 'partials/_create_project_modal.html' %}
{% include 'partials/_start_cycle_modal.html' %}
{% include 'partials/_logout_modal.html' %}
{% endblock %}