{% extends 'logged_base.html' %}

{% load static %}

{% block content %}
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

    <!-- Topbar -->
    {% include 'partials/_topbar.html' %}
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">How you have done in previous cycles</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    {% if cycle_history_entries %}
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Duration</th>
                            <th>Planned hours</th>
                            <th>Completed Hours</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Duration</th>
                            <th>Planned hours</th>
                            <th>Completed Hours</th>
                        </tr>
                        </tfoot>
                        <tbody>

                            {% for history_entry in cycle_history_entries %}
                            <tr>
                                <td>{{history_entry.start_date}}</td>
                                <td>{{history_entry.end_date}}</td>
                                <td>{{history_entry.duration}}</td>
                                <td>{{history_entry.planned_hours}}</td>
                                <td>{{history_entry.done_hours}}</td>
                            </tr>
                            {% endfor %}

                       </tbody>
                    </table>
                    {% else %}
                    <h6 class="m-0 ">No data available</h6>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    </div>

</div>
{% endblock %}