<!-- Create a task Modal -->

<div class="modal fade" id="createProjectModalCenter" tabindex="-1" role="dialog" aria-labelledby="createProjectModalCenterLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProjectModalCenterLabel">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="submitproject" action="{% url 'save-project' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="project-title" class="col-form-label">Title</label>
                        <input type="text" class="form-control" id="project-title" name="project-title">
                    </div>
                    <div class="form-group">
                        <label for="project-color" class="col-form-label">Color(in Hex #ffffff)</label>
                        <input type="text" class="form-control" id="project-color" name="project-color">
                    </div>
                    <div class="form-group">
                        <label for="project-description" class="col-form-label">Description</label>
                        <textarea class="form-control" id="project-description" name="project-description"></textarea>
                    </div>
                    <input type="text" id="project-id" name="project-id" hidden/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-primary" href="javascript:{document.getElementById('submitproject').submit()}">Save</a>
            </div>
        </div>
    </div>
</div>
