<!-- Footer -->
<footer id="footer" class="sticky-footer bg-white">

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <ul class="footer-nav">
                    <li><a href="/">Home</a></li>

                    <li><a href="http://help.payloadz.com/home" target="_blank">Help</a></li>
                    <li><a href="/affiliates/">Affiliates</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal3" data-title="Contact us">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ul class="footer-nav footer-nav2">
                    <li><a href="/privacy.asp">Privacy Policy</a></li>
                    <li><a href="/terms.aspx">Terms of Use</a></li>
                    <li><a href="/terms.aspx#DMCA">Copyright Notice</a></li>
                    <li><a href="/rs/default.asp">Resellers</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="social-block">
                    <h3>Follow us on:</h3>
                    <ul class="social-networks">
                        <li><a href="https://www.facebook.com/payloadz" target="_blank" class="icon-facebook"></a></li>
                        <li><a href="https://www.twitter.com/payloadz" target="_blank" class="icon-twitter"></a></li>
                        <li><a href="https://www.linkedin.com/company/payloadz" target="_blank" class="icon-linkedin"></a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright text-right col-sm-3">
                <div class="footer-logo">
                    <a href="/">
                        <img src="/images/logo02.png" alt="image description"></a>
                </div>
                <p>Copyright © 2020 <a href="/">PayLoadz, Inc</a></p>
            </div>
        </div>
    </div>
    <style>.async-hide { opacity: 0 !important} </style>

</footer>
<!-- End of Footer -->