.less-padding{
    padding-right: .15rem;
    padding-left: .15rem;
}

 .card-body span{
     border-radius: 3px;
     padding: 3px;
 }

 .card-body span.cirle{
      border-radius: 20px;
      padding: 3px;
  }